.todo-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1.5px solid rgba(0,0,0, 0.1);
    padding: 15px 0;
    transition: all .5s ease-in-out;
}

.todo-item:hover {
    background: rgba(0,0,0,0.02);
}

.todo-item p {
    margin: 0 15px;
    color: var(--app-charcoal);
    line-height: 24px;
    width: 100%;
    transition: all .5s ease-in-out;
    font-size: 15px;
}

.todo-item--checked p {
    color: var(--app-grey);
    text-decoration: line-through;
}

.todo-item .delete-todo {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-item .delete-todo:hover {
    cursor: pointer;
}

.todo-item .delete-todo img {
    width: 13px;
    height: auto;
}