.add-todo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    input {
        width: 100%;
        margin-right: 10px;
        background: rgba(0,0,0,0.04);
        border: 1px solid var(--app-grey);
        transition: all .1s;
        border-radius: 5px;
        padding: 2px 10px;
        font-size: 15px;
        height: 40px;
        color: var(--app-charcoal);

        &:focus {
            border: 2px solid var(--app-coral);
            background: var(--app-white);
        }
    }

    button {
        background: var(--app-coral);
        border: none;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease-in-out;

        &:hover {
            cursor: pointer;
            background: var(--app-orange);
        }

        img {
            width: 12px;
            height: auto;
        }
    }
}