:root {
  --app-orange: #ff6348;
  --app-coral: #ff7f50;
  --app-charcoal: #2f3542;
  --app-grey: #57606f41;
  --app-white: #fff;
  --app-green: #6bd68d;
  --app-red: #ff4757;
}

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: rgb(255,127,80);
  background: linear-gradient(87deg, rgba(255,127,80,1) 0%, rgba(255,127,80,1) 36%, rgba(255,99,72,1) 100%); 
  min-height: 100vh;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  body {
    padding: 45px;
  }
}

.app-author {
  text-align: center;
  color: var(--app-white);
}

.app-author a {
  text-decoration: none;
  color: var(--app-white);
  font-weight: bold;
}